[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/asyu/Desktop/ManaSoul.desktop]
row=9
col=1

[/home/asyu/Desktop/Steam Linux Runtime 3.0 (sniper).desktop]
row=7
col=0

[/home/asyu/Desktop/R.E.P.O..desktop]
row=1
col=1

[/home/asyu/Desktop/Documents]
row=0
col=1

[/home/asyu/Desktop/Geometry Dash.desktop]
row=11
col=1

[/home/asyu/Desktop/Proton Experimental.desktop]
row=8
col=0

[/home/asyu/Desktop/Sea of Thieves.desktop]
row=12
col=1

[/home/asyu/Desktop/Schedule I.desktop]
row=8
col=1

[/home/asyu/Desktop/Old School RuneScape.desktop]
row=4
col=0

[/home/asyu/Desktop/Monster Hunter World.desktop]
row=5
col=0

[/home/asyu/Desktop/Core Keeper.desktop]
row=4
col=1

[/home/asyu/Desktop/vivaldi-agimnkijcaahngcdmfeangaknmldooml-Default.desktop]
row=12
col=0

[/home/asyu/Desktop/net.lutris.guild-wars-2-2.desktop]
row=5
col=1

[/home/asyu/Desktop/Haste Broken Worlds Demo.desktop]
row=10
col=0

[/home/asyu/Desktop/RuneScape Dragonwilds Early Adopter Soundtrack.desktop]
row=2
col=1

[/home/asyu/Desktop/Dawnlands.desktop]
row=10
col=1

[/home/asyu/Desktop/Quaver.desktop]
row=6
col=1

[/home/asyu/Desktop/Sid Meier's Civilization VI.desktop]
row=7
col=1

[/home/asyu/Desktop/Soulmask.desktop]
row=11
col=0

[/home/asyu/Desktop/Valheim.desktop]
row=6
col=0

[/home/asyu/Desktop/Lethal Company.desktop]
row=9
col=0

[/home/asyu/Desktop/RuneScape Dragonwilds.desktop]
row=3
col=1

[964C6CB04C6C8D35]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/asyu]
row=3
col=0

